<div class="crystal-card">


    <!--Imagen de perfil-->
    <div class="about-img">
        <img src="./assets/resources/Traje4.png" alt="">
    </div>

    <!--Texto e iconos-->
    <div class="about">
        <!--Texto-->
        <div class="mb-5">
            <h1 class="mb-3">Oscar Diaz</h1>
            <p>
                Estudiante de Ingeniería de sistemas
                apasionado por la tecnología, responsable,
                autodidacta y con buenas habilidades
                informáticas.
                Cuento con el título de
                <strong>Técnico en operación y mantenimiento de bases de datos</strong> 
                y me gradue de bachillerato como
                <strong>Bachiller técnico con especialidad en informática</strong>
                desarrollando aplicaciones en C# (WinForms y Wpf) con bases de datos SqlServer.
            </p>
            
            <p>Participé en el programa MisionTic2022 del ministerio de las TIC de Colombia en donde reforcé mis
                conocimientos en Java, Python, Html
                y Css. Y he realizado los cursos
                <strong>Oracle Database Foundations</strong> y <strong>Oracle Database Design</strong> de Oracle
                Academy.
            </p>
        </div>

        <!--Iconos-->
        <div>
            <app-devicon-container [ShowText]="true"
                [Icons]="[{name:'Csharp'},{name:'Java'}, {name:'Python'}, {name:'SqlServer'}, {name:'MySql'}, {name:'PostgreSql'}, {name:'HTML'}, {name:'Css'}, {name:'Bootstrap'}, {name:'Angular'}, {name:'.Net Core'}]">
            </app-devicon-container>
        </div>
    </div>

</div>



<div class="row">
    <div class="crtf-container">
        <img src="./assets/resources/Certificados/MisionTic.PNG" alt="">
        <img src="./assets/resources/Certificados/EFSET_ingles.PNG" alt="">
        <img src="./assets/resources/Certificados/DatabaseFoundations.PNG" alt="">
        <img src="./assets/resources/Certificados/DatabaseDesign.PNG" alt="">
    </div>
</div>