/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}