/* You can add global styles to this file, and also import other style files */
h1 {
    text-align: center !important;
    color: #5271ff !important;
    font-weight: bold;
}

p,
a,
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: black;
}