/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Righteous', cursive;
    text-align: left;
}

p,
a,
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: black;
}

body {
    width: 80%;
    margin: auto;
}